<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Content-Language" content="br" />
		<meta name="keywords" content="Congratulations" />
		<meta name="Description" content="Congratulations" />
		<meta name="robots" content="index,follow" />
		<title>Congratulations APP</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" type="text/css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
	</head>
<style>
	.hero-unit{
		background:none;
	}
	.name{
		color:#ccc;
	}
	.failure{
		color:#b00;
	}
	.sucess{
		color:#4FBF17;
	}
	.wait{
		color:#FFD100;
	}
</style>
<body>
	<a href="https://github.com/riquellopes/congratulations"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 43;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<div class='container'>
	<div class='hero-unit'>
		{{cong.display_menssage|safe}}
	</div>
</div>
</body>
</html>